

body {
  min-width: 320px;
  width: 100%;
  font-size: 14px;
  font-family: 'Sen', sans-serif;
  color: #0A0A0A;
}

img { 
  max-width: 100%;
  height: auto;
}

.container {

}

a {
  color:# 120CBA;
}

a:hover {
color: #898377;
}

header h4 {
  font-family: 'Sen', sans-serif;
  text-transform: uppercase;
  color: #000;
}

header .btn-link {
  text-transform: uppercase;
  margin-left: 20px;
  color: #000;
}

header .btn-link a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #ccc;
  height: 1px;
  transform: scale(0);
}

header .btn-link a:hover::after {
  transform: scale(1);
}

body .grid {
  margin-top: 150px;
}


body .custom-file-label,
body .custom-select,
body .btn-light {
  font-family: 'Sen', sans-serif;
  font-size: 18px;
  color: #696969;
}

body .login-grid {
  margin-top: 100px;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Sen', sans-serif;
  font-size: 20px;
  color: #696969;
}

body .login-form {
  border-width: thin;
  border-color: color: #696969;
}

body .login-button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

body .table {
  margin: auto;
  align-content: center;
}

body .inner-table {
  border-bottom-style: hidden;
}

body .inner-left-column {
  border-left-style: hidden;
}

body .inner-right-column {
  border-right-style: hidden;

}

.error-name {
  margin-top: 10px;
  font-family: 'Sen', sans-serif;
  color: #696969;
  font-size: 100px;
  text-transform:uppercase;
  text-align:center;
 }
 
 .error-code {
  font-family: 'Sen', sans-serif;
  color: #696969;
  font-size: 20px;
  text-align:center;
  }

body .illegal-file-message {
	font-family: 'Sen', sans-serif;
	color: #FF0000;
	font-size: 15px;
	margin-top: 10px
}








// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
